.app
{
  width: 100svw;
}
nav
{
  display: flex;
  justify-content: space-around;
  font-size: 3em;
}
.links
{
  text-decoration: none;
}
#cs
{
  text-justify: center;
  font-family: 'ArcadeClassic', sans-serif;
  color: #0ad30e;
  padding: 1em;
  margin: 0;
  align-self: center;
}
#cs:hover
{
  text-shadow: 0em 0em 1em #87A922;
}
#math
{
  text-justify: center;
  font-family: 'Times New Roman', Times, serif;
  color: #5272F2;
  padding: 1em;
  margin: 0;
}
#math:hover
{
  text-shadow: 0em 0em 1em #40A2E3;
}
@media (width <= 480px)
{
  nav
  {
    font-size: 1em;
  }
}